.form_recherche_class{
    display: flex;
    justify-content: center;
    margin-top:0px;
    margin-bottom:80px;
}

.input_recherche_class{
    width: 550px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0px;padding-left: 10px;
    border: black solid 1px;
}

div.recherche_class{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_loupe_class{
    width: 50px;
    border: black solid 1px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-left: 0px;
    cursor: pointer;
}


/* Styles de base */
input{

    box-sizing: border-box;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

/* Effet focus personnalisé */
input:focus{
    outline: none; /* Supprime la bordure par défaut */
    border: 1px solid black; /* Couleur de bordure personnalisée */
}


hr{

    border-color: lightslategray;
    width: 100%;
    display: flex;
    justify-content: center;
}

.text_msg_class,.msg_connecter_class{
    color: green;
    display: flex;
    justify-content: center;
}

.offres_class{
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

p.info_jeu_class{
    text-align: center;
}

a.lien_offre_class{
    border:solid 1px;
    padding: 5px;
    border-radius: 20px;
}

.data_offre_class{
    display: flex;
    justify-content: center;
}


hr{
    /*margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right:5px;
    border:solid 1px;*/
}

.games_race_class{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.lien_imageGame1_class{
    width:100%;
}

.image_game_class{
    width:100%;
    border: black solid 1px;
}

.game_class{
    margin:1%;
}



.title_categorie_games,.title_offer{
    display: flex;
    justify-content: center;
}

.title_categorie_games{
    margin-bottom: 0;
    margin-top: 50px;
}

p.statut_connection_class{
    display: flex;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

div.div_messageDeconnexion_class{
    display: flex;
    justify-content: center;
}

.icone_connexion2{
    border: solid red 2px;
    width: 50px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

