.form_recherche_class{
    display: flex;
    justify-content: center;
    margin-top:10px;
    margin-bottom:80px;
}

hr{

    border-color: lightslategray;
    width: 100%;
    display: flex;
    justify-content: center;
}

.text_msg_class,.msg_connecter_class{
    color: green;
    display: flex;
    justify-content: center;
}

.input_recherche_class{
    width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: center;
    border-radius: 20px;
}

.offres_class{
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

p.info_jeu_class{
    text-align: center;
}

a.lien_offre_class{
    border:solid 1px;
    padding: 5px;
    border-radius: 20px;
}

.data_offre_class{
    display: flex;
    justify-content: center;
}


hr{
    /*margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right:5px;
    border:solid 1px;*/
}

.games_race_class{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.lien_imageGame1_class{
    width:100%;
}

.image_game_class{
    width:100%;
}

.game_class{
    margin:1%;
}



.title_categorie_games,.title_offer{
    display: flex;
    justify-content: center;
}

.title_categorie_games{
    margin-bottom: 0;
    margin-top: 50px;
}

p.statut_connection_class{
    display: flex;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

div.div_messageDeconnexion_class{
    display: flex;
    justify-content: center;
}

.icone_connexion2{
    border: solid red 2px;
    width: 50px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

