header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    background-color: darkorange;

}



.lien_logo_class{
    width: 70px;
    display: flex;
    justify-content: center;
    margin-left: 5px;

}

.logo_class{
    border: solid 2px;
    width: 70px;

}

.header_content{

    border:1px lightgray solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.icone_connexion_class{
    border:2px red solid;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 70px;
    border-radius: 20px;
    cursor: pointer;
}

#icone_connexion_class2{
    border-color: green;
}


li.link{

}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.nav_links{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}


.nav_class{
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
}

.link{
    margin-left: 20px;
    margin-right: 20px;
}

.arrow-down{
    position: absolute;
    top:-15px;
    left:65px;
}

.links{
    border:2px gray solid;
    background-color: white;
    border-radius: 20px;
    margin-left: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    text-align: center;
    display: none;
    position: absolute;
    left:  -39px;
    top: 82px;
    width: 112px;
    padding-top: 8px;

}



.img_links{
    position: relative;
    width: 90px;
    display: flex;
    justify-content: center;

}


.show {
    display: block;
}