header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*z-index: 1000;*/
    background-color: #fff;
    box-shadow: 0 4px 2px -2px gray;
}



.lien_logo_class{
    width: 70px;

}

.logo_class{
    border: solid 2px;
    width: 70px;
    margin-left: 5px;
}

.header_content{

    border:2px blue solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.icone_connexion_class{
    border:2px blue solid;
    margin-top: 4px;
    margin-right:4px;
    margin-bottom: 4px;
    width: 70px;
    border-radius: 20px;
    cursor: pointer;
}


li.link{

}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.nav_links{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}


.nav_class{
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
}

.link{
    margin-left: 20px;
    margin-right: 20px;
}

.arrow-down{
    position: absolute;
    top:-15px;
    left:47px;
}

.links{
    border:2px gray solid;
    background-color: white;
    border-radius: 20px;
    margin-left: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    text-align: center;
    display: none;
    position: absolute;
    left: -24px;
    top: 82px;
    width: 112px;
    padding-top: 8px;
}



.img_links{
    position: relative;
    /*border:2px orangered solid;*/
    width: 112px;
    /*margin-left: 4px;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-right: 4px;
    width: 112px;
    position: relative;*/

}


.show {
    display: block;
}