.footer_content_class{
    border: 1px lightgrey solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: darkorange;
    margin: 0;
}