section.section_view_offres_class{
    margin-bottom: 154px;
}


.offres_class{
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

a.lien_offre_class{
    border:solid 1px blueviolet;
    padding: 5px;
    border-radius: 20px;
    margin: 10px;
    background-color: darkorange;
    width: 254.22px;
}

p.data_offre_class{
    color: #551A8B;
}

.data_offre_class{
    display: flex;
    justify-content: center;
}