.gallery {
    display: flex;
    flex-wrap: wrap; /* Permet de passer à la ligne automatiquement */
    gap: 20px; /* Espace entre les éléments */
    justify-content: center;
}

.item {
    /*width: 250px; /* Taille fixe pour chaque élément */
    text-align: center;
}

.item img {
    width:300px;
    height: 168px;
    border: 1px solid darkorange;
}

p.info_jeu_class{
    margin:0;
    color: darkorange;
}
